@import url(./fonts.css);

*,
*::before,
*::after{
    box-sizing: border-box;  /*Нормализация блочной модели*/
}

:where(ul, ol):where([class]){
    padding-left: 0; /*убираем внутренние отступы слева тегам списков у которых есть атрибуи class*/
}

body,
:where(blockquote, figure):where([class]){ /*убираем внешние отступы margin у тега body figure blockquote*/
    margin: 0;
}

:where(h1,h2,h3,h4,h5,h6,p,ul,ol,dl):where([class]){
    margin-block: 0; /*убираем внешние отступы вертикали нужным тегам*/
}

:where(dd[class]){
    margin-left: 0; /*убираем левый внешний отступ у тега описания определения*/
}

:where(ul[class]){
    list-style: none; /*убираем стандартный маркер маркированному списку*/ 
}

img{
    display: block;
    max-width: 100%; /*убираем пустое пространство под изображением и предотвращаем появление скролла*/
}

input,
textarea,
select,
button{
    font: inherit; /*наследуем свойства шрифта от родителя для полей ввода*/
}

html{
    height: 100%; /*Используется для "прижатия" подвала сайта*/
    scroll-behavior: smooth; /*плавный скролл*/
}

body{
    min-height: 100%; /*Суть та-же, что и со свойством высоты у тега html*/
    line-height: 1.5; /*унифицированный интерлиньяж*/
}

@media(prefers-reduced-motion: reduce){ /*через медиа запросы удаляем все анимации и переходы для тех, у кого 
                                          анимации и переходы принудительно отключены*/
    *{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important; 
    }
}


:root{
    --clr-beige: #C7A17A;
    --clr-white: #EDF0F5;
    --clr-black: #151D28;
    --clr-blue: #415167;
    --clr-light-beige: #F9F5E8;
    --clr-back-main: #F9FBFF;
    --tx-color: ;
    --ft-def: 300;
    --clr-text: #000;
    --fs-great: 54px;
    --fs-big: 32px;
    --fs-medium: 24px;
    --fs-default: 16px;
    --fs-small: 14px;
    --fs-min: 10px;
}

.page{
    position: inset;
    background-color: var(--clr-back-main);
}

body{
    min-width: 240px;
    max-width: 100%;
    min-height: 320px;
    max-height: 100vh;
    font-style: normal;
    font-weight: var(--ft-def);
    color: var(--clr-text);
    font-family: sans-serif;
}

.header{
    display: block;
}

.header-site{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-logo{
    justify-self: start;
    align-self: flex-start;
}

.header-logo__image{
    opacity: 1;
    width: 120px;
    height: 40px; 
    margin: 10px 0 0 15px;
}

.header-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.header-name__word{
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--fs-great);
    color: var(--clr-blue);
}

.header-name__word-mid{
    background: var(--clr-beige);
    color: var(--clr-white);
    padding-inline: 15px;
    margin-left: -15px;
}

.header-banner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

